body {
	margin: 0;
}
.page-banner {
	width: 100%;
	height: 60px;
	background: rgb(70, 70, 219);
	color: white;
	text-align: center;
	font-size: 3em;
	font-family: Indie Flower;
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
	justify-content: center;
}

.buttons{
	height: 60px;
	width: 110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    position: absolute;
    top: 0%;
    right: 10px;
}

.buttons div {
	height: 48px;
	width: 48px;
	align-items: right;
	font-size: 50%;
	text-align: center;
	position: relative;
	background-color: #bbb;
}

.img-one {
	border-radius: 50%;
}

.img-two {
	border-radius: 25%;
}

.big-pic {
	width: 100%;
	height: 400px;
	background-color: #bbb;
	margin-left: auto;
	margin-right: auto;
}

.picture-container{
	width: 70%;
	height: 400px;
	margin-left:auto;
	margin-right: auto;
	margin-top: auto;
	left: 15%;
	top: 10%;
	padding: 1%;
}

.two-pics {
	width: 88%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	margin-top: 2%;
	align-items: center;
	justify-items: flex-end;
    position: relative;
}

.two-pics div {
	background-color: #bbb;
	width: 45%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.scrollable-div {
	overflow-y: scroll;
	max-height: 200px;
	margin-top: 2%;
}

.three-pics {
	height: 200px;
	width: 88.5%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	margin-top: 2%;
	align-items: center;
	justify-items: flex-end;
    position: relative;
	left: 1%;
}

.three-pics div {
	width: 30%;
	height: 200px;
	background-color: #bbb;
	margin-left: auto;
	margin-right: auto;
}

.images {
	width:100%;
	height: 100%;
}
